.nonunderline{
    text-decoration: none;
    color:black;
}

html{
    background-color:floralwhite;
}
body {
 
    text-align: center;
    
}

h1{
    text-decoration: none;
    color:black;
}


h2{
    text-decoration: none;
    color:black;
}


