@font-face {
    font-family: 'Jeju Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot);
    src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.ttf) format('truetype');
  }

.jm{
    font-family: 'Jeju Myeongjo', serif;
}
html{
    background-color:floralwhite;
}
body {
 
    text-align: center;
    
}

.nonunderline{
    text-decoration: none;
    color:black;
}
h2{
    text-decoration: none;
    color:black;
}


